<div class="row">
  <div class="container col-md-8">
    <div class="row">
      <div class="col-md-7">
        {{poolstrategy-selector
          poolStrategies=pool.lPoolStrategy
          selected=poolStrategySelected}}
      </div>
      <div class="col-md-4">
        {{#if loading}}
        {{else}}
          {{topic-selector selectTopic="selectTopic" topics=pool.lTopicPool}}
        {{/if}}
      </div>
      <div class="col-md-1">
        {{canvas-visual-pool-view-selector
          viewSelector=viewSelector}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{canvas-visual-pool
          viewSelector=viewSelector
          topicSelected=topicSelected
          lPooledDocument=lPooledDocument}}
      </div>
    </div>
  </div>
  <div class="col-md-2">
    {{poolstrategy-stats
      topicSelected=topicSelected
      lPooledDocument=lPooledDocument}}
  </div>
  <div class="container col-md-2">
    <div class="row">
      <div class="col-md-12">
        {{poolstrategy-player
          stepForward="stepForward"
          fastForward="fastForward"}}
      </div>
    </div>
    <div class="row" style="margin-top:7px">
      <div class="col-md-12">
        {{poolstrategy-log
          lPooledDocument=lPooledDocument}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    {{upload-runs updateTopicSelector="updateTopicSelector"}}
  </div>
  <div class="col-md-2">
    {{upload-qrels}}
  </div>
  <div class="col-md-2">
    {{download-qrels
      lPooledDocument=lPooledDocument}}
  </div>
</div>