<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Strategy:</label>
        <div class="col-sm-3">
            <select onchange={{action "selectPoolStrategy" value="target.value"}} class="form-control">
              {{#each poolStrategies as |strategy|}}
                  <option>{{strategy.name}}</option>
              {{/each}}
            </select>
        </div>
      {{#each parameters as |parameter|}}
          <label class="col-sm-1 control-label">{{parameter.name}}:</label>
          <div class="col-sm-2">
              {{input class="form-control" value=parameter.value}}
          </div>
      {{/each}}
      <!--
      <div class="col-sm-2">
        <button class="btn btn-default" onclick={{action "applyPoolStrategy"}}>Apply</button>
      </div>
      -->
    </div>
</div>