<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pooling Stats</h3>
  </div>
  <div class="panel-body" style="height:calc(100vh - 199px);max-height:calc(100vh - 198px);overflow-y:scroll;">
    <p>{{latex-maths expr=nT}}</p>
    <p>{{latex-maths expr=nRt}} </p>
    <p>{{latex-maths expr=sNRt}}</p>
    <p>{{latex-maths expr=sURt}}</p>
    <p>{{latex-maths expr=nR}}</p>
    <p>{{latex-maths expr=sNR}}</p>
    <p>{{latex-maths expr=sUR}}</p>
    <p>{{latex-maths expr=nQPt}}</p>
    <p>{{latex-maths expr=nQNt}}</p>
    <p>{{latex-maths expr=nQQt}}</p>
    <p>{{latex-maths expr=nQt}}</p>
    <p>{{latex-maths expr=nQP}}</p>
    <p>{{latex-maths expr=nQN}}</p>
    <p>{{latex-maths expr=nQQ}}</p>
    <p>{{latex-maths expr=nQ}}</p>
  </div>
</div>